* {
  margin: 0px;
  padding: 0px;
}

@mixin basicflex {
  display: flex;
  align-items: center;
}

@media (min-width: 1920px) {
  header {
    padding-top: 32px;
    background-color: var(--main-blue-color);
    height: 900px;
    position: relative;
  }

  .section1 {
    background-color: rgb(54, 162, 244);
    @include basicflex;
    justify-content: space-between;
    border-radius: 20px 20px 20px 20px;

    margin: 0 32px 0 32px;

    color: white;
    height: 85px;
  }
  .group {
    @include basicflex;
    gap: 32px;
    margin-right: 50px;
  }
  .tel {
    display: flex;
    gap: 5px;
    img {
      height: 30px;
      width: 30px;
    }
  }
  .burger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-end;
  }
  .burger:hover {
    cursor: pointer;
  }
  .menu {
    @include basicflex;
    margin: 18px 30px 18px 0;
    font-size: 24px;
  }
  .logo {
    margin-left: 30px;
  }
  .tel:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .section2 {
    margin: 30px 30px 0 30px;
    max-width: 1200px;
    max-height: 370px;
    display: grid;
    grid-template-columns: 30% 25% 25% 20%;
    grid-template-rows: 1fr 1fr 1fr;

    .item {
      font-size: 75px;
      color: azure;
      text-align: center;
    }
  }
  .item .text1 {
    color: rgb(113, 167, 254);
  }
  .cow {
    width: 750px;
    height: 500px;
    opacity: 20%;
    z-index: 0;
    img {
      width: 750px;
    }
    position: absolute;
    top: 320px;
    bottom: 0;
    left: 30px;
    right: 0;
  }
  .adaptive {
    @include hidden;
  }
  .section3 {
    display: flex;
    gap: 30px;
    position: absolute;
    top: 550px;
    bottom: 0;
    left: 30px;
    right: 0;
    // z-index: 5;
    .cards1 {
      width: 25%;
      display: flex;
      text-align: center;
      img {
        margin-bottom: 10px;
        transition: all 1s linear;
      }
      img:hover {
        transform: scale(1.1);
      }
      flex-direction: column;
      font-size: 24px;
      color: azure;
    }
  }

  .cards2 {
    width: 25%;
    .tel2 {
      display: block;
      margin-left: 50px;
      margin-bottom: 20px;
      width: 64px;
      height: 64px;
      svg {
        border-radius: 50%;
        border: 2px solid #ffffff23;
        rect {
          fill: navy;
        }
      }
    }
    p {
      margin-left: 50px;
      display: flex;
      gap: 30px;
      flex-direction: column;
      color: azure;
      font-size: 24px;
      justify-content: center;
      text-align: center;

      align-items: center;
    }

    .tel2:hover {
      cursor: pointer;
    }

    bbutton {
      display: inline-block;
      max-width: 200px;
      padding: 15px 25px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #0846cc;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }

    button:hover {
      background-color: navy;
    }

    button:active {
      background-color: navy;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
  }
}

@media (max-width: 1920px) and (min-width: 1024px) {
  header {
    padding-top: 32px;
    background-color: var(--main-blue-color);
    height: 900px;
    position: relative;
  }

  .section1 {
    background-color: rgb(54, 162, 244);
    @include basicflex;
    justify-content: space-between;
    border-radius: 20px 20px 20px 20px;

    margin: 0 32px 0 32px;

    color: white;
    height: 85px;
  }
  .group {
    @include basicflex;
    gap: 32px;
    margin-right: 50px;
  }
  .tel {
    display: flex;
    gap: 5px;
    img {
      height: 30px;
      width: 30px;
    }
  }
  .burger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-end;
  }
  .burger:hover {
    cursor: pointer;
  }
  .menu {
    @include basicflex;
    margin: 18px 30px 18px 0;
    font-size: 24px;
  }
  .logo {
    margin-left: 30px;
  }
  .tel:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .section2 {
    margin: 30px 30px 0 30px;
    max-width: 1100px;
    max-height: 370px;
    display: grid;
    grid-template-columns: 30% 25% 25% 20%;
    grid-template-rows: 1fr 1fr 1fr;

    .item {
      font-size: 55px;
      color: azure;
      text-align: center;
    }
  }
  .cow {
    width: 750px;
    height: 500px;
    opacity: 20%;
    z-index: 0;
    img {
      width: 750px;
    }
    position: absolute;
    top: 320px;
    bottom: 0;
    left: 30px;
    right: 0;
  }
  .adaptive {
    @include hidden;
  }
  .section3 {
    display: flex;
    gap: 30px;
    position: absolute;
    top: 550px;
    bottom: 0;
    left: 30px;
    right: 0;
    // z-index: 5;
    .cards1 {
      width: 20%;
      display: flex;
      text-align: center;
      img {
        margin-bottom: 10px;
        transition: all 1s linear;
      }
      img:hover {
        transform: scale(1.1);
      }
      flex-direction: column;
      font-size: 24px;
      color: azure;
    }
  }

  .cards2 {
    width: 25%;
    .tel2 {
      display: block;
      margin-left: 50px;
      margin-bottom: 20px;
      width: 64px;
      height: 64px;
      svg {
        border-radius: 50%;
        border: 2px solid #ffffff23;
        rect {
          fill: navy;
        }
      }
    }
    p {
      margin-left: 50px;
      display: flex;
      gap: 30px;
      flex-direction: column;
      color: azure;
      font-size: 24px;
      justify-content: center;
      text-align: center;

      align-items: center;
    }

    .tel2:hover {
      cursor: pointer;
    }

    button {
      display: inline-block;
      max-width: 200px;
      padding: 15px 25px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #0846cc;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }

    button:hover {
      background-color: navy;
    }

    button:active {
      background-color: navy;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  header {
    padding-top: 32px;
    background-color: var(--main-blue-color);
    height: 900px;
    position: relative;
  }

  .section1 {
    background-color: rgb(54, 162, 244);
    @include basicflex;
    justify-content: space-between;
    border-radius: 20px 20px 20px 20px;

    margin: 0 32px 0 32px;

    color: white;
    height: 85px;
  }
  .group {
    @include basicflex;
    gap: 32px;
    margin-right: 50px;
  }
  .tel {
    display: flex;
    gap: 5px;
    img {
      height: 30px;
      width: 30px;
    }
  }
  .burger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-end;
  }
  .burger:hover {
    cursor: pointer;
  }
  .menu {
    @include basicflex;
    margin: 18px 30px 18px 0;
    font-size: 24px;
  }
  .logo {
    margin-left: 30px;
  }
  .tel:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .section2 {
    @include hidden;
  }

  .cow {
    width: 750px;
    height: 500px;
    opacity: 20%;
    z-index: 0;
    img {
      width: 750px;
    }
    position: absolute;
    top: 320px;
    bottom: 0;
    left: 0px;
    right: 0;
  }
  .adaptive {
    display: flex;
    color: azure;
    margin-top: 180px;
    font-size: 55px;
    text-align: center;
  }
  .section3 {
    display: flex;
    gap: 30px;
    position: absolute;
    top: 550px;
    bottom: 0;
    left: 30px;
    right: 0;
    // z-index: 5;
    .cards1 {
      width: 20%;
      display: flex;
      text-align: center;
      img {
        margin-bottom: 10px;
        transition: all 1s linear;
      }
      img:hover {
        transform: scale(1.1);
      }
      flex-direction: column;
      font-size: 20px;
      color: azure;
    }
  }

  .cards2 {
    margin-top: -40px;
    width: 25%;
    .tel2 {
      display: block;
      margin-left: 50px;
      margin-bottom: 20px;
      width: 64px;
      height: 64px;
      svg {
        border-radius: 50%;
        border: 2px solid #ffffff23;
        rect {
          fill: navy;
        }
      }
    }
    p {
      margin-left: 50px;
      display: flex;
      gap: 30px;
      flex-direction: column;
      color: azure;
      font-size: 20px;
      justify-content: center;
      text-align: center;

      align-items: center;
    }

    .tel2:hover {
      cursor: pointer;
    }

    button {
      display: inline-block;
      max-width: 200px;
      max-height: 70px;
      padding: 15px 25px;
      font-size: 20px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #0846cc;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }

    button:hover {
      background-color: navy;
    }

    button:active {
      background-color: navy;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  header {
    padding-top: 15px;
    background-color: var(--main-blue-color);
    // height: 900px;
    position: relative;
  }

  .section1 {
    background-color: rgb(54, 162, 244);
    @include basicflex;
    justify-content: space-between;
    border-radius: 20px 20px 20px 20px;

    color: white;
    height: 75px;
  }
  .group {
    @include hidden;
  }
  .tel {
    display: flex;
    gap: 5px;
    .num {
      @include hidden;
    }
    img {
      height: 30px;
      width: 30px;
    }
  }
  .burger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-end;
  }
  .burger:hover {
    cursor: pointer;
  }
  .menu {
    @include basicflex;
    margin: 18px 30px 18px 0;
    font-size: 22px;
  }
  // .logo {

  // }
  .tel:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .section2 {
    @include hidden;
  }

  .cow {
    @include hidden;
  }
  .adaptive {
    display: flex;
    color: azure;
    margin-top: 30px;
    font-size: 40px;
    text-align: center;
    justify-content: center;
  }
  .section3 {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;

    .cards1 {
      width: 70%;
      display: flex;
      text-align: center;
      img {
        margin-bottom: 15px;
        transition: all 1s linear;
      }
      img:hover {
        transform: scale(1.1);
      }
      flex-direction: column;
      font-size: 24px;
      color: azure;
    }
  }

  .cards2 {
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    border: 5px solid rgb(7, 210, 242);
    padding-bottom: 10px;
    border-radius: 36px;
    margin-bottom: 20px;
    .tel2 {
      display: block;
      width: 64px;
      height: 64px;
      svg {
        border-radius: 50%;
        border: 2px solid #ffffff23;
        rect {
          fill: navy;
        }
      }
    }
    p {
      margin-left: 50px;
      display: flex;
      gap: 30px;
      flex-direction: column;
      color: azure;
      font-size: 26px;
      font-weight: bold;
      justify-content: center;
      text-align: center;

      align-items: center;
    }

    .tel2:hover {
      cursor: pointer;
    }

    button {
      display: inline-block;
      max-width: 200px;
      max-height: 70px;
      padding: 15px 25px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #0846cc;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }

    button:hover {
      background-color: navy;
    }

    button:active {
      background-color: navy;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
  }
}
